<!DOCTYPE html>
<html>

<head>
  <title>oauth authorize</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>

<body>
  <form action="/login/oauth/authorize" method="post" class="container">
    <div class="header">
      <div class="title">
        <h3>Authorization Server</h3>
      </div>
    </div>
    <div class="body">
      <div class="user">
        <img src='<%= user.avatar_url %>' alt="">
        <%= user.name %>
      </div>
    确定授权给<font color="#cdaa7d"><%= client.name %></font>?
    </div>
    <div class="footer">
      <button type="submit" name="isAuthorized" value=true>授权</button>
      <button type="submit" name="isAuthorized" value=false>取消</button>
    </div>
    </div>
  </form>

</body>

</html>
