<!DOCTYPE html>
<html>

<head>
  <title>oauth authorize</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>

<body>
  <form action="/login" method="post" class="container">
    <div class="header">
      <div class="title">
        <h3>Authorization Server</h3>
      </div>
    </div>
    <div class="body">
      <div>
        <input name="username" type="text" placeholder="username">
      </div>
      <div>
        <input name="password" type="password" placeholder="password">
      </div>
    </div>
    <div class="footer">
      <button type="submit" value="Submit">Sign in</button>
    </div>
    </div>
  </form>

</body>

</html>
